<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wegobuy Watcher</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script>
        function nextPage() {
            location.href = "/page/" + (parseInt(location.href.split('/')[4]) + 1);
        }
        function lastPage() {
            location.href = "/page/" + (parseInt(location.href.split('/')[4]) - 1);
        }

    </script>
</head>

<body>
<button onclick="location.href='/getcsv';">Download CSV</button>
<strong>Total number of items: {{ totalNum }}</strong>
<button onclick="lastPage()" style="display:{{ isFirst }};">Last Page</button>
<button onclick="nextPage()" style="display:{{ isLast }};">Next Page</button>
<button onclick="location.href='/info'">View Data Analysis</button>
<button onclick="location.href='/test'">test</button>
<br>
<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
    <tr>
        {% for h in header %}
        <th>{{ h }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    <tr>
        {% for k in d %}

        {% if k == 'goodsPicUrl' %}
        <td><img src="{{ d[k] }}" style="max-width:200px;max-height:200px;"></td>
        {% elif k == 'statePicUrl' or k == 'buyerAvatar' %}
        <td><img src="{{ d[k] }}" style="max-width:50px;max-height:50px;"></td>
        {% elif d[k].startswith('https://') %}
        <td style="max-width: 150px;word-wrap: break-word;"><a href="{{ d[k] }}" target="_blank">{{ d[k] }}</a></td>
        {% else %}
        <td style="width: 150px;">{{ d[k] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="lastPage()" style="display:{{ isFirst }};">Last Page</button>
<button onclick="nextPage()" style="display:{{ isLast }};">Next Page</button>
<button onclick="location.href='/info'">View Data Analysis</button>
</body>
</html>